name: Publish
on:
  repository_dispatch:
    types:
      - publish
  workflow_dispatch:

env:
  TZ: Asia/Tokyo

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          ref: main
          repository: ${{ secrets.REPO_NAME }}
          token: ${{ secrets.REPO_TOKEN }}

      - name: pnpm/action-setup
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 9

      - name: actions/setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm
          node-version-file: .tool-versions

      - name: Build
        run: pnpm install && pnpm run build

      - name: peaceiris/actions-gh-pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ secrets.REPO_DIR }}
